@charset "utf-8";

 /**
  * ---font---
  */


//  字体
$basefont:16px/1.5 "Microsoft Yahei",Arial !default;

// 默认页面字体
html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	font: $basefont;
}

.iconfont {
	font-size: inherit;
}

// 文本对齐
$wordPos:left center right ;
@each $pos in $wordPos {
	.text-#{$pos} {
		text-align: $pos;
	}
}

// 文本缩进
.text-indent {
	text-indent: 2em;
}

// 字体大小
$fontsize:xs sm md lg;
@each $s in $fontsize {
	.text-#{$s} {
		font-size: index($fontsize,$s)*0.6*16px;
	}
}



 

