@charset "utf-8";
/**
 * ---定义了颗粒类---
 */

// 浮动
.fl {
	float: left;
}

.fr {
	float: right !important;
}

.clearfix {
	@include clearfix;
}

.block {
    display: block;
    width: 100%;
}

//图片
.img-responsive {
	display: block;
	margin: 0 auto;
	max-width: 100%;
}





