@charset "utf-8";

/*--------------- 表单 --------------*/

// 布局

// 水平表单
//.form-horizontal {
//	.form-group {
//		@include fx;
//		@include fx-cross(center);
//
//        margin-bottom: 10px;
//	}
//}
//
//// 内联表单
//.form-inline {
//    @include fx;
//    @include fx-wrap(nowrap);
//    @include fx-cross(center);
//
//    .form-group {
//        margin-right: $basepadding;
//    }
//}

// 移动端的列表
// 无label，带底边框的输出框表单
.form-list {
	.form_group {
		padding: 0 $basepadding;
		line-height: rem(90);
		background-color: #fff;

		@include fx;
		@include fx-cross(center);
		@include border-b;

		&:first-child {
			@include border-t;
		}
	}

	.form_input {
		border: none;
		line-height: rem(90);

		@include fx-grow(1);
	}

	.form_textarea {
		display: block;
		width: 100%;
		height: 8em;
		margin: 10px 0;
		padding: 10px;

		border-radius: 5px;

		@include border;
	}
}



