@charset "utf-8";

/*--------------- 表单 --------------*/

// 布局
.form {

}
.form-group {

}

// 水平表单
.form-horizontal {
	.form-group {
		@include fx;
		@include fx-cross(center);

        margin-bottom: 10px;
	}
}

// 内联表单
.form-inline {
    @include fx;
    @include fx-wrap(nowrap);
    @include fx-cross(center);

    .form-group {
        margin-right: $basepadding;
    }
}

.input-group {
	@include fx;
	@include fx-cross(stretch);

	& > :first-child {
		border-radius: 4px 0 0 4px;
	}
	& > :last-child{
		border-radius: 0 4px 4px 0;
	}
	.input {
		padding: 0 10px;
		margin: 0 -1px;
		position: relative;
		z-index: 1;

		@include border;
		@include fx-grow(1);

		&:focus {
			border-color: $basecolor;
			$box-shadow:inset 0 1px 1px rgba(#fff,.075), 0 0 8px rgba($basecolor, .6);
			@include box-shadow($box-shadow);
		}
	}
	.input-icon {
		@include border;
	}
}

// 颗粒类

// 组件


// 单选框复选框
$form-choice-type:'checkbox' 'radio';
%form-choice {
    $r: 20px;
    display: inline-block;
    font-size: 0;

    position: relative;
    z-index: 10;
    width: $r;
    height: $r;

    // 标签文字无法对齐
    vertical-align: middle;
}

%form-choice-input {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0;
    @include opacity(0);
}

%form-choice-icon {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    @include fx-center;

    font-size: 0;
    border: 1px solid $basecolor;
}

%form-choice-active {
    font-size: 14px;
    color: $basecolor;
}

@each $type in $form-choice-type {
    .#{$type} {

        @extend %form-choice;
        input[type=#{$type}] {
            @extend %form-choice-input;
        }

        // 图标
        i {
            @extend %form-choice-icon;
            @if($type == 'radio'){
                border-radius: 50%;
            }
        }

        [type=#{$type}]:checked + i {
            @extend %form-choice-active
        }
    }
}



