@charset "utf-8";

// 列表样式

@mixin list-unstyle {
	margin-left: 0;
	padding-left: 0;
	list-style: none;
}

// 常规模式下的宽度
@for $i from 1 through 12 {
	.col-#{$i}{
		float: left;
		width: percentage($i/12);
	}
}

