@charset "utf-8";

// 列表样式

.list {
	list-style: none;
}

@mixin list-unstyle {
	margin: 0;
	padding: 0;
	list-style: none;
}

.list-unstyle {
	@include list-unstyle;
}

// 常规模式下的宽度
@for $i from 1 through 12 {
	.col-#{$i}{
		float: left;
		width: percentage($i/12);
	}
}

