@charset "utf-8";

// 《css权威指南》指出，元素的margin-top和margin-bottom，其值如果是百分数，也是根据父元素的宽度进行计算的（防止浏览器的死循环）
// 因此可以利用这点，加上绝对定位的过分受限，实现一个响应式的正方形
// 正方形对于我这个强迫症来讲，真的十分有用！

@mixin square($w:100%){
	display: block;
	position:relative;
	width: $w;

	padding-top: 100%;

	//这是另外一种实现方式
	//&:after {
	//	content:'';
	//	display: block;
	//	margin-top: 100%;
	//}

}
@mixin square-inner {
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom: 0;
}

.square{
	@include square;
}
.square-inner {
	@include square-inner;
}