@charset "UTF-8";
/* ---reset--- */
body,
h1, h2, h3, h4, h5, h6,
p {
  margin: 0; }

article,
aside,
footer,
header,
nav,
section,
main {
  display: block; }

img {
  border: 0; }

a {
  color: inherit;
  background: transparent;
  text-decoration: none; }

input, button, textarea, select, optgroup {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  color: inherit;
  background-color: inherit; }

textarea, select, input, button {
  -webkit-appearance: none;
  -moz-appearance: none; }

textarea {
  resize: none; }

:focus {
  outline: 0; }

* {
  box-sizing: border-box; }

/* ---end reset--- */
/* ---color--- */
.bg-red {
  background-color: #FF3300;
  color: #fff; }

.text-red {
  color: #FF3300; }

.bg-oragne {
  background-color: #CC6600;
  color: #fff; }

.text-oragne {
  color: #CC6600; }

.bg-yellow {
  background-color: #FF9900;
  color: #fff; }

.text-yellow {
  color: #FF9900; }

.bg-green {
  background-color: #33CC66;
  color: #fff; }

.text-green {
  color: #33CC66; }

.bg-cyan {
  background-color: #6699FF;
  color: #fff; }

.text-cyan {
  color: #6699FF; }

.bg-blue {
  background-color: #3366FF;
  color: #fff; }

.text-blue {
  color: #3366FF; }

.bg-purple {
  background-color: #9900FF;
  color: #fff; }

.text-purple {
  color: #9900FF; }

.bg-dark {
  background-color: #333;
  color: #fff; }

.text-dark {
  color: #333; }

.bg-white {
  background-color: #fff;
  color: #000; }

.text-white {
  color: #fff; }

.bg-gray {
  background-color: #f5f5f5;
  color: #000; }

.text-gray {
  color: #f5f5f5; }

.bg-base {
  background-color: #6699FF;
  color: #fff; }

.text-base {
  color: #6699FF; }

.text-gray {
  color: #999; }

/* ---color end--- */
/* ---font--- */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  font: 16px/1.5 "Microsoft Yahei", Arial; }

.iconfont {
  font-size: inherit; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-indent {
  text-indent: 2em; }

.text-xxs {
  font-size: 10px; }

.text-xs {
  font-size: 12px; }

.text-sm {
  font-size: 14px; }

.text-md {
  font-size: 16px; }

.text-lg {
  font-size: 24px; }

/* ---font end--- */
/* ---particle--- */
.fl {
  float: left; }

.fr {
  float: right !important; }

.clearfix {
  zoom: 1; }
  .clearfix:after {
    content: "";
    display: block;
    clear: both; }

.block {
  display: block;
  width: 100%; }

.img-responsive {
  display: block;
  margin: 0 auto;
  width: 100%; }

.img-holder {
  background-size: cover;
  background-position: center; }

.mg-base {
  margin: 20px; }

.mt-base {
  margin-top: 20px; }

.mt-base-10 {
  margin-top: 10px; }

.mb-base {
  margin-bottom: 20px; }

.mt--1 {
  margin-top: -1px !important; }

.mb--1 {
  margin-bottom: -1px !important; }

.pd-base {
  padding: 10px 20px; }

.ptb-base {
  padding-top: 10px;
  padding-bottom: 10px; }

.flex-between {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.flex_grow {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.flex-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.flex-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

/* ---particle end--- */
/*--------------grid-------------*/
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  zoom: 1; }
  .container:after {
    content: "";
    display: block;
    clear: both; }

.container-fluid {
  width: 100%; }

.row {
  zoom: 1; }
  .row:after {
    content: "";
    display: block;
    clear: both; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px; }

.col-xs-1 {
  padding: 0; }

.col-sm-1 {
  padding: 0; }

.col-md-1 {
  padding: 0; }

.col-lg-1 {
  padding: 0; }

.col-xs-2 {
  padding: 0; }

.col-sm-2 {
  padding: 0; }

.col-md-2 {
  padding: 0; }

.col-lg-2 {
  padding: 0; }

.col-xs-3 {
  padding: 0; }

.col-sm-3 {
  padding: 0; }

.col-md-3 {
  padding: 0; }

.col-lg-3 {
  padding: 0; }

.col-xs-4 {
  padding: 0; }

.col-sm-4 {
  padding: 0; }

.col-md-4 {
  padding: 0; }

.col-lg-4 {
  padding: 0; }

.col-xs-5 {
  padding: 0; }

.col-sm-5 {
  padding: 0; }

.col-md-5 {
  padding: 0; }

.col-lg-5 {
  padding: 0; }

.col-xs-6 {
  padding: 0; }

.col-sm-6 {
  padding: 0; }

.col-md-6 {
  padding: 0; }

.col-lg-6 {
  padding: 0; }

.col-xs-7 {
  padding: 0; }

.col-sm-7 {
  padding: 0; }

.col-md-7 {
  padding: 0; }

.col-lg-7 {
  padding: 0; }

.col-xs-8 {
  padding: 0; }

.col-sm-8 {
  padding: 0; }

.col-md-8 {
  padding: 0; }

.col-lg-8 {
  padding: 0; }

.col-xs-9 {
  padding: 0; }

.col-sm-9 {
  padding: 0; }

.col-md-9 {
  padding: 0; }

.col-lg-9 {
  padding: 0; }

.col-xs-10 {
  padding: 0; }

.col-sm-10 {
  padding: 0; }

.col-md-10 {
  padding: 0; }

.col-lg-10 {
  padding: 0; }

.col-xs-11 {
  padding: 0; }

.col-sm-11 {
  padding: 0; }

.col-md-11 {
  padding: 0; }

.col-lg-11 {
  padding: 0; }

.col-xs-12 {
  padding: 0; }

.col-sm-12 {
  padding: 0; }

.col-md-12 {
  padding: 0; }

.col-lg-12 {
  padding: 0; }

.hide-xs {
  display: none; }

.show-sm {
  display: none; }

.show-md {
  display: none; }

.show-lg {
  display: none; }

.col-xs-1 {
  width: 8.33333%;
  float: left; }

.col-xs-2 {
  width: 16.66667%;
  float: left; }

.col-xs-3 {
  width: 25%;
  float: left; }

.col-xs-4 {
  width: 33.33333%;
  float: left; }

.col-xs-5 {
  width: 41.66667%;
  float: left; }

.col-xs-6 {
  width: 50%;
  float: left; }

.col-xs-7 {
  width: 58.33333%;
  float: left; }

.col-xs-8 {
  width: 66.66667%;
  float: left; }

.col-xs-9 {
  width: 75%;
  float: left; }

.col-xs-10 {
  width: 83.33333%;
  float: left; }

.col-xs-11 {
  width: 91.66667%;
  float: left; }

.col-xs-12 {
  width: 100%;
  float: left; }

@media screen and (min-width: 768px) {
  .container {
    width: 750px;
    margin-left: auto;
    margin-right: auto; }

  .col-sm-1 {
    width: 8.33333%;
    float: left; }

  .col-sm-2 {
    width: 16.66667%;
    float: left; }

  .col-sm-3 {
    width: 25%;
    float: left; }

  .col-sm-4 {
    width: 33.33333%;
    float: left; }

  .col-sm-5 {
    width: 41.66667%;
    float: left; }

  .col-sm-6 {
    width: 50%;
    float: left; }

  .col-sm-7 {
    width: 58.33333%;
    float: left; }

  .col-sm-8 {
    width: 66.66667%;
    float: left; }

  .col-sm-9 {
    width: 75%;
    float: left; }

  .col-sm-10 {
    width: 83.33333%;
    float: left; }

  .col-sm-11 {
    width: 91.66667%;
    float: left; }

  .col-sm-12 {
    width: 100%;
    float: left; } }
@media screen and (max-width: 768px) {
  .hide-sm {
    display: none !important; }

  .show-sm {
    display: block; } }
@media screen and (min-width: 992px) {
  .container {
    width: 900px;
    margin-left: auto;
    margin-right: auto; }

  .col-md-1 {
    width: 8.33333%;
    float: left; }

  .col-md-2 {
    width: 16.66667%;
    float: left; }

  .col-md-3 {
    width: 25%;
    float: left; }

  .col-md-4 {
    width: 33.33333%;
    float: left; }

  .col-md-5 {
    width: 41.66667%;
    float: left; }

  .col-md-6 {
    width: 50%;
    float: left; }

  .col-md-7 {
    width: 58.33333%;
    float: left; }

  .col-md-8 {
    width: 66.66667%;
    float: left; }

  .col-md-9 {
    width: 75%;
    float: left; }

  .col-md-10 {
    width: 83.33333%;
    float: left; }

  .col-md-11 {
    width: 91.66667%;
    float: left; }

  .col-md-12 {
    width: 100%;
    float: left; } }
@media screen and (max-width: 992px) {
  .hide-md {
    display: none !important; }

  .show-md {
    display: block; } }
@media screen and (min-width: 1200px) {
  .container {
    width: 1170px;
    margin-left: auto;
    margin-right: auto; }

  .col-lg-1 {
    width: 8.33333%;
    float: left; }

  .col-lg-2 {
    width: 16.66667%;
    float: left; }

  .col-lg-3 {
    width: 25%;
    float: left; }

  .col-lg-4 {
    width: 33.33333%;
    float: left; }

  .col-lg-5 {
    width: 41.66667%;
    float: left; }

  .col-lg-6 {
    width: 50%;
    float: left; }

  .col-lg-7 {
    width: 58.33333%;
    float: left; }

  .col-lg-8 {
    width: 66.66667%;
    float: left; }

  .col-lg-9 {
    width: 75%;
    float: left; }

  .col-lg-10 {
    width: 83.33333%;
    float: left; }

  .col-lg-11 {
    width: 91.66667%;
    float: left; }

  .col-lg-12 {
    width: 100%;
    float: left; } }
@media screen and (max-width: 1200px) {
  .hide-lg {
    display: none !important; }

  .show-lg {
    display: block; } }
/*--------------end grid-------------*/
	/**
	容器 flex
 */
[flex] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

[flex~='dir:column'] {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
          flex-direction: column; }

[flex~='dir:row'] {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
          flex-direction: row; }

[flex~='dir:column-reverse'] {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column-reverse;
  -webkit-flex-direction: column-reverse;
          flex-direction: column-reverse; }

[flex~='dir:row-reverse'] {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
          flex-direction: row-reverse; }

[flex~='wrap:wrap'] {
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap; }

[flex~='wrap:nowrap'] {
  -ms-flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
          flex-wrap: nowrap; }

[flex~='wrap:wrap-reverse'] {
  -ms-flex-wrap: wrap-reverse;
  -webkit-flex-wrap: wrap-reverse;
          flex-wrap: wrap-reverse; }

[flex~='main:start'] {
  -webkit-box-pack: flex-start;
  -ms-flex-pack: flex-start;
  -webkit-justify-content: flex-start;
          justify-content: flex-start; }

[flex~='main:center'] {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
          justify-content: center; }

[flex~='main:end'] {
  -webkit-box-pack: flex-end;
  -ms-flex-pack: flex-end;
  -webkit-justify-content: flex-end;
          justify-content: flex-end; }

[flex~='main:between'] {
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  -webkit-justify-content: space-between;
          justify-content: space-between; }

[flex~='main:around'] {
  -webkit-box-pack: space-around;
  -ms-flex-pack: space-around;
  -webkit-justify-content: space-around;
          justify-content: space-around; }

[flex~='cross:start'] {
  -webkit-box-align: flex-start;
  -ms-flex-align: flex-start;
  -webkit-align-items: flex-start;
          align-items: flex-start; }

[flex~='cross:center'] {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
          align-items: center; }

[flex~='cross:end'] {
  -webkit-box-align: flex-end;
  -ms-flex-align: flex-end;
  -webkit-align-items: flex-end;
          align-items: flex-end; }

[flex~='cross:baseline'] {
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  -webkit-align-items: baseline;
          align-items: baseline; }

[flex~='cross:stretch'] {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
          align-items: stretch; }

/**
	子项 item
 */
[flex] > [item] {
  display: block;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

[item~='align:start'] {
  -ms-flex-item-align: flex-start;
  -ms-grid-row-align: flex-start;
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start; }

[item~='align:center'] {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center; }

[item~='align:end'] {
  -ms-flex-item-align: flex-end;
  -ms-grid-row-align: flex-end;
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end; }

[item~='align:baseline'] {
  -ms-flex-item-align: baseline;
  -ms-grid-row-align: baseline;
  -webkit-align-self: baseline;
      -ms-flex-item-align: baseline;
          align-self: baseline; }

[item~='align:stretch'] {
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
          align-self: stretch; }

[item~='order:1'] {
  -webkit-box-ordinal-group: 1;
  -ms-flex-order: 1;
  -webkit-order: 1;
          order: 1; }

[item~='grow:1'] {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  -webkit-flex-grow: 1;
          flex-grow: 1; }

[item~='shrink:1'] {
  -ms-flex-negative: 1;
  -webkit-flex-shrink: 1;
          flex-shrink: 1; }

[item~='order:2'] {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 2;
  -webkit-order: 2;
          order: 2; }

[item~='grow:2'] {
  -webkit-box-flex: 2;
  -ms-flex-positive: 2;
  -webkit-flex-grow: 2;
          flex-grow: 2; }

[item~='shrink:2'] {
  -ms-flex-negative: 2;
  -webkit-flex-shrink: 2;
          flex-shrink: 2; }

[item~='order:3'] {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 3;
  -webkit-order: 3;
          order: 3; }

[item~='grow:3'] {
  -webkit-box-flex: 3;
  -ms-flex-positive: 3;
  -webkit-flex-grow: 3;
          flex-grow: 3; }

[item~='shrink:3'] {
  -ms-flex-negative: 3;
  -webkit-flex-shrink: 3;
          flex-shrink: 3; }

[item~='order:4'] {
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 4;
  -webkit-order: 4;
          order: 4; }

[item~='grow:4'] {
  -webkit-box-flex: 4;
  -ms-flex-positive: 4;
  -webkit-flex-grow: 4;
          flex-grow: 4; }

[item~='shrink:4'] {
  -ms-flex-negative: 4;
  -webkit-flex-shrink: 4;
          flex-shrink: 4; }

[item~='order:5'] {
  -webkit-box-ordinal-group: 5;
  -ms-flex-order: 5;
  -webkit-order: 5;
          order: 5; }

[item~='grow:5'] {
  -webkit-box-flex: 5;
  -ms-flex-positive: 5;
  -webkit-flex-grow: 5;
          flex-grow: 5; }

[item~='shrink:5'] {
  -ms-flex-negative: 5;
  -webkit-flex-shrink: 5;
          flex-shrink: 5; }

html {
  font-size: 16px; }

@media screen and (min-width: 375px) {
  html {
    /* iPhone6的375px尺寸作为16px基准，414px正好18px大小, 600 20px */
    font-size: calc(100% + 2 * (100vw - 375px) / 39);
    font-size: calc(16px + 2 * (100vw - 375px) / 39); } }
@media screen and (min-width: 414px) {
  html {
    /* 414px-1000px每100像素宽字体增加1px(18px-22px) */
    font-size: calc(112.5% + 4 * (100vw - 414px) / 586);
    font-size: calc(18px + 4 * (100vw - 414px) / 586); } }
@media screen and (min-width: 600px) {
  html {
    /* 600px-1000px每100像素宽字体增加1px(20px-24px) */
    font-size: calc(125% + 4 * (100vw - 600px) / 400);
    font-size: calc(20px + 4 * (100vw - 600px) / 400); } }
@media screen and (min-width: 1000px) {
  html {
    /* 1000px往后是每100像素0.5px增加 */
    font-size: calc(137.5% + 6 * (100vw - 1000px) / 1000);
    font-size: calc(22px + 6 * (100vw - 1000px) / 1000); } }
/*--------------- 表单 --------------*/
.form-list .form_group {
  padding: 0 20px;
  line-height: 2.4rem;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
          align-items: center;
  border-bottom: 1px solid #d6d6d6; }
  .form-list .form_group:first-child {
    border-top: 1px solid #d6d6d6; }
.form-list .form_input {
  border: none;
  line-height: 2.4rem;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  -webkit-flex-grow: 1;
          flex-grow: 1; }
.form-list .form_textarea {
  display: block;
  width: 100%;
  height: 8em;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #d6d6d6; }

.checkbox, .radio, .radio-square {
  display: inline-block;
  font-size: 0;
  position: relative;
  z-index: 10;
  width: 20px;
  height: 20px;
  vertical-align: middle; }

.checkbox input[type=checkbox], .radio input[type=radio], .radio-square input[type=radio] {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0;
  opacity: 0;
  filter: alpha(opacity=0); }

.checkbox i, .radio i, .radio-square i {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
          align-items: center;
  font-size: 0;
  border: 1px solid #d6d6d6; }

.checkbox [type=checkbox]:checked + i, .radio [type=radio]:checked + i, .radio-square [type=radio]:checked + i {
  font-size: 0.85rem;
  color: #6699FF; }

.checkbox [type=checkbox]:checked + i {
  border-color: #6699FF; }

.radio i {
  border-radius: 50%; }
.radio [type=radio]:checked + i {
  border-color: #6699FF; }

.radio-square [type=radio]:checked + i {
  border-color: #6699FF; }

.col-1 {
  float: left;
  width: 8.33333%; }

.col-2 {
  float: left;
  width: 16.66667%; }

.col-3 {
  float: left;
  width: 25%; }

.col-4 {
  float: left;
  width: 33.33333%; }

.col-5 {
  float: left;
  width: 41.66667%; }

.col-6 {
  float: left;
  width: 50%; }

.col-7 {
  float: left;
  width: 58.33333%; }

.col-8 {
  float: left;
  width: 66.66667%; }

.col-9 {
  float: left;
  width: 75%; }

.col-10 {
  float: left;
  width: 83.33333%; }

.col-11 {
  float: left;
  width: 91.66667%; }

.col-12 {
  float: left;
  width: 100%; }

.list-border {
  line-height: 2.4rem;
  margin: 0;
  padding: 0;
  list-style: none; }
  .list-border .list_item {
    padding-left: 20px;
    border-bottom: 1px solid #d6d6d6; }
    .list-border .list_item:first-of-type {
      border-top: 1px solid #d6d6d6; }

.list-inline {
  margin: 0;
  padding: 0;
  list-style: none;
  zoom: 1; }
  .list-inline:after {
    content: "";
    display: block;
    clear: both; }

.list-info {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 2em;
  color: #999; }
  .list-info .list_item {
    zoom: 1; }
    .list-info .list_item:after {
      content: "";
      display: block;
      clear: both; }
  .list-info .list_tt {
    float: left;
    width: 6em; }
  .list-info .list_ct {
    overflow: hidden; }

.list-order {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 2em; }
  .list-order .list_item {
    padding-left: 20px;
    counter-increment: item; }
    .list-order .list_item:before {
      content: counter(item);
      display: inline-block;
      vertical-align: middle;
      width: 20px;
      height: 20px;
      line-height: 20px;
      margin-right: 5px;
      color: #999;
      background-color: #f5f5f5;
      text-align: center;
      border-radius: 3px; }
    .list-order .list_item:nth-of-type(-n+3):before {
      background-color: #6699FF;
      color: #fff; }

/* ---btn--- */
.btn {
  display: inline-block;
  vertical-align: middle;
  padding-top: 0;
  padding-bottom: 0;
  text-align: center;
  border: none;
  -webkit-text-size-adjust: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.btn-rect {
  border-radius: 0; }

.btn-round {
  border-radius: 0.3em; }

.btn-circle {
  border-radius: 50%; }

.btn {
  font-size: 1rem;
  height: 2rem;
  line-height: 2rem;
  padding: 0 0.8rem;
  cursor: pointer; }

.btn-xs {
  font-size: 0.5rem;
  height: 1rem;
  line-height: 1rem;
  padding: 0 0.4rem; }

.btn-sm {
  font-size: 0.75rem;
  height: 1.5rem;
  line-height: 1.5rem;
  padding: 0 0.6rem; }

.btn-md {
  font-size: 1rem;
  height: 2rem;
  line-height: 2rem;
  padding: 0 0.8rem; }

.btn-lg {
  font-size: 1.5rem;
  height: 3rem;
  line-height: 3rem;
  padding: 0 1.2rem; }

.btn-border {
  height: 1.6rem;
  line-height: 1.6rem;
  border-style: solid;
  border-width: 1px; }

.btn-block {
  display: block;
  height: 2.4rem;
  width: 100%;
  line-height: 2.4rem; }

/* ---btn end--- */
.tab .tab_nav {
  margin: 0;
  height: 2.93333rem;
  line-height: 2.93333rem;
  text-align: center;
  background: #fff;
  list-style: none; }

.tab_sec {
  display: none; }
  .tab_sec.active {
    display: block; }

.tab-border .tab_nav {
  border-bottom: 1px solid #d6d6d6;
  border-top: 1px solid #d6d6d6; }
.tab-border .tab_item {
  position: relative; }
  .tab-border .tab_item.active:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: #6699FF; }

.tab-v {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: between;
  -ms-flex-pack: between;
  -webkit-justify-content: between;
          justify-content: between; }
  .tab-v .tab_nav {
    width: 4rem;
    text-align: center;
    border-right: 1px solid #d6d6d6; }
  .tab-v .tab_item.active {
    background-color: #fff; }
  .tab-v .tab_box {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    -webkit-flex-grow: 1;
            flex-grow: 1;
    background-color: #fff; }

.empty {
  min-height: 70vh;
  width: 100%;
  color: #999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
          align-items: center; }

.panel {
  background-color: #fff;
  border-bottom: 1px solid #d6d6d6; }
  .panel_hd {
    border-top: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    line-height: 2.4rem;
    color: #999;
    background-color: #f5f5f5; }

.top {
  text-align: center;
  line-height: 2.66667rem;
  background-color: #fff;
  zoom: 1; }
  .top:after {
    content: "";
    display: block;
    clear: both; }
  .top .top_l, .top .top_r {
    width: 2.66667rem; }
  .top .top_l {
    float: left; }
  .top .top_r {
    float: right; }
  .top .top_tt {
    padding: 0 2.66667rem; }

.waterfall {
  width: 100%;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-width: 47vw;
  -moz-column-width: 47vw;
  column-width: 47vw;
  -webkit-column-gap: 2vw;
  -moz-column-gap: 2vw;
  column-gap: 2vw; }
  .waterfall_item {
    -webkit-column-break-inside: avoid; }

.coupon {
  position: relative;
  overflow: hidden;
  margin: 25px 0;
  padding: 0 10px;
  font-size: 0.64rem;
  color: #999;
  background-color: #fefefe;
  -ms-box-shadow: 3px 3px 3px #ccc;
  -o-box-shadow: 3px 3px 3px #ccc;
  box-shadow: 3px 3px 3px #ccc; }
  .coupon .coupon_bd {
    overflow: hidden;
    border-bottom: 1px solid #dedede;
    padding-top: 20px;
    padding-bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; }
  .coupon .coupon_price {
    display: block;
    font-size: 2.4rem;
    color: #FF9900; }
  .coupon .coupon_info {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    -webkit-flex-grow: 1;
            flex-grow: 1;
    text-align: right;
    line-height: 1.4em; }
  .coupon .coupon_ft {
    line-height: 3em; }
  .coupon .coupon_tag {
    position: absolute;
    z-index: 9;
    right: -3em;
    bottom: 0;
    width: 10em;
    height: 3em;
    line-height: 3em;
    text-align: center;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
        transform: rotate(-45deg); }

.coupon-expired .coupon_price {
  color: #999; }
.coupon-expired .coupon_tag {
  background-color: #f5f5f5;
  color: #999; }

.score_item {
  display: inline-block;
  padding-left: 0;
  padding-right: 0;
  float: left;
  height: 30px;
  width: 30px;
  margin: 0 1px;
  background-image: url("../img/icon/star.png");
  background-repeat: no-repeat;
  background-position: -33.33333px 0;
  background-size: cover;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  .score_item.active {
    background-position: 0 0; }

.search_wrap {
  background-color: #fff;
  height: 2.66667rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
          align-items: center; }

.search {
  width: 100%;
  position: relative;
  z-index: 9999; }
  .search_hd {
    width: 100%;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    -webkit-flex-grow: 1;
            flex-grow: 1;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
            align-items: center; }
  .search_bar {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    -webkit-flex-grow: 1;
            flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
            align-items: center;
    border: 1px solid #6699FF;
    border-radius: 0.8rem;
    height: 1.6rem;
    padding-left: 0.53333rem;
    margin-right: 10px; }
  .search_icon {
    margin-right: 10px; }
  .search_input {
    width: 100%;
    border: none; }
  .search_cancle {
    color: #999;
    font-size: 14px; }
  .search.active .search_bd, .search.active .search_mask {
    display: block; }
  .search_bd, .search_mask {
    display: none; }
  .search_mask {
    position: fixed;
    z-index: 9;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); }
  .search_bd {
    position: absolute;
    z-index: 10;
    width: 100%;
    left: 0;
    background-color: #fff;
    border-top: 1px solid #d6d6d6; }
  .search_res {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 2.4rem;
    font-size: 12px; }
  .search_item {
    padding: 0 10px;
    border-bottom: 1px solid #d6d6d6;
    color: #999; }

.msg {
  padding: 2.66667rem 1.33333rem;
  text-align: center; }
  .msg_icon {
    font-size: 5.33333rem; }
  .msg_tt {
    line-height: 3em; }
  .msg_ct {
    font-size: 12px;
    color: #999; }

.square {
  display: block;
  position: relative;
  width: 100%;
  padding-top: 100%; }

.square-box {
  display: block;
  position: relative;
  width: 100%; }
  .square-box:after {
    content: '';
    display: block;
    padding-top: 100%; }

.square-inner {
  position: absolute !important;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }

.axis_item {
  position: relative; }
  .active.axis_item .axis_badge {
    border-color: #6699FF;
    background-color: #6699FF;
    color: #fff; }
  .axis_item .axis_badge {
    display: inline-block;
    width: 16px;
    height: 16px;
    text-align: center;
    line-height: 14px;
    font-size: 10px;
    background: #f8f8f8;
    border-radius: 8px;
    border: 1px solid #d6d6d6; }

/**
    竖直方向上的时间轴布局
 */
.axis {
  margin: 0;
  padding: 0;
  list-style: none; }
  .axis_item.active .item-bd {
    border-color: #8ed5fe; }
  .axis_item:last-of-type .item-bd {
    border-color: transparent; }
  .axis_item .item-hd {
    margin: 0;
    padding-left: 26px;
    line-height: 16px;
    font-weight: normal; }
  .axis_item .item-bd {
    margin-top: -1px;
    min-height: 60px;
    margin-left: 7px;
    padding-left: 18px;
    padding-top: 5px;
    border-left: 2px solid #f5f5f5;
    margin-bottom: 0; }
  .axis .axis_badge {
    position: absolute;
    left: 0; }

/**
    水平方向上的时间轴布局
 */
.axis-h {
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style: none; }
  .axis-h .axis_badge {
    display: block;
    margin: 0 auto;
    position: relative;
    z-index: 9; }
  .axis-h .axis-item {
    text-align: center; }
    .axis-h .axis-item:first-child:before, .axis-h .axis-item:last-child:after {
      display: none; }
    .axis-h .axis-item:before, .axis-h .axis-item:after {
      content: '';
      position: absolute;
      bottom: 7px;
      height: 2px;
      width: 50%;
      background-color: #b2b2b2; }
    .axis-h .axis-item:before {
      left: 0; }
    .axis-h .axis-item:after {
      right: 0; }

.page {
  min-height: 100vh;
  background-color: #f8f8f8; }

/*# sourceMappingURL=main.css.map */