@charset "UTF-8";
	/**
	容器 flex
 */
[flex] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

[flex~='dir:column'] {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

[flex~='dir:row'] {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

[flex~='dir:column-reverse'] {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse; }

[flex~='dir:row-reverse'] {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse; }

[flex~='wrap:wrap'] {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

[flex~='wrap:nowrap'] {
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }

[flex~='wrap:wrap-reverse'] {
  -ms-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse; }

[flex~='main:start'] {
  -webkit-box-pack: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start; }

[flex~='main:center'] {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

[flex~='main:end'] {
  -webkit-box-pack: flex-end;
  -ms-flex-pack: flex-end;
  justify-content: flex-end; }

[flex~='main:between'] {
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between; }

[flex~='main:around'] {
  -webkit-box-pack: space-around;
  -ms-flex-pack: space-around;
  justify-content: space-around; }

[flex~='cross:start'] {
  -webkit-box-align: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start; }

[flex~='cross:center'] {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

[flex~='cross:end'] {
  -webkit-box-align: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end; }

[flex~='cross:baseline'] {
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline; }

[flex~='cross:stretch'] {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch; }

/**
	子项 item
 */
[flex] > [item] {
  display: block;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

[item~='align:start'] {
  -ms-flex-item-align: flex-start;
  -ms-grid-row-align: flex-start;
  align-self: flex-start; }

[item~='align:center'] {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center; }

[item~='align:end'] {
  -ms-flex-item-align: flex-end;
  -ms-grid-row-align: flex-end;
  align-self: flex-end; }

[item~='align:baseline'] {
  -ms-flex-item-align: baseline;
  -ms-grid-row-align: baseline;
  align-self: baseline; }

[item~='align:stretch'] {
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch; }

[item~='order:1'] {
  -webkit-box-ordinal-group: 1;
  -ms-flex-order: 1;
  order: 1; }

[item~='grow:1'] {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }

[item~='shrink:1'] {
  -ms-flex-negative: 1;
  flex-shrink: 1; }

[item~='order:2'] {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 2;
  order: 2; }

[item~='grow:2'] {
  -webkit-box-flex: 2;
  -ms-flex-positive: 2;
  flex-grow: 2; }

[item~='shrink:2'] {
  -ms-flex-negative: 2;
  flex-shrink: 2; }

[item~='order:3'] {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 3;
  order: 3; }

[item~='grow:3'] {
  -webkit-box-flex: 3;
  -ms-flex-positive: 3;
  flex-grow: 3; }

[item~='shrink:3'] {
  -ms-flex-negative: 3;
  flex-shrink: 3; }

[item~='order:4'] {
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 4;
  order: 4; }

[item~='grow:4'] {
  -webkit-box-flex: 4;
  -ms-flex-positive: 4;
  flex-grow: 4; }

[item~='shrink:4'] {
  -ms-flex-negative: 4;
  flex-shrink: 4; }

[item~='order:5'] {
  -webkit-box-ordinal-group: 5;
  -ms-flex-order: 5;
  order: 5; }

[item~='grow:5'] {
  -webkit-box-flex: 5;
  -ms-flex-positive: 5;
  flex-grow: 5; }

[item~='shrink:5'] {
  -ms-flex-negative: 5;
  flex-shrink: 5; }

/*# sourceMappingURL=main.css.map */
