body,
h1, h2, h3, h4, h5, h6,
p {
    margin: 0; }

article,
aside,
footer,
header,
nav,
section,
main {
    display: block; }

img {
    border: 0; }

a {
    color: inherit;
    background: transparent;
    text-decoration: none; }

input, button, textarea, select, optgroup {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    background: inherit; }

textarea, select, input, button {
    -webkit-appearance: none;
    -moz-appearance: none; }

textarea {
    resize: none; }

:focus {
    outline: 0; }

* {
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box; }