@charset "utf-8";

$labcolor: $purple;
$blogcolor: $yellow;
$bookcolor: $green;
$aboutcolor: $blue;


.main-nav {

}

.nav-item {
	float: left;
	.nav-link {
		float: left;
		width: rem(375);
		height: rem(375);
		@include fx-justify;
		@include fx-dir;
		padding: rem(35);

		.iconfont {
			display: block;
			margin: 0 auto;
			font-size: rem(140);
		}
	}
}

//.index {
//	margin-top: 0.5rem;
//	text-align: center;
//	.nav-item {
//		height: 1.5rem;
//		padding: 0.1rem;
//		&:hover {
//			&:nth-of-type(1) {
//				color: $labcolor;
//			}
//			&:nth-of-type(2) {
//				color: $blogcolor;
//			}
//			&:nth-of-type(3) {
//				color: $bookcolor;
//			}
//			&:nth-of-type(4) {
//				color: $aboutcolor;
//			}
//		}
//	}
//	.item-inner {
//		display: block;
//		height: 100%;
//		@extend %hover-scale;
//		@extend %hover-underline;
//		.iconfont {
//			display: block;
//			margin: 0 auto;
//			font-size: 0.6rem;
//		}
//	}
//}
